mat-dialog-content {
    background-color: white !important;
    padding: 16px; 
  }
  
  mat-dialog-title {
    background-color: white !important;
    color: black !important; 
    padding: 16px; 
  }
  
  .custom-dialog-container {
    background-color: white !important;
    color: black !important; 
    padding: 16px; 
  }
  