<h2 mat-dialog-title>Create New Project</h2>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Project Base Catalogue Number</mat-label>
        <input matInput [(ngModel)]="projectCatalogNumber" required>
        <mat-error *ngIf="!projectCatalogNumber">A project catalog number is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Artist</mat-label>
        <input matInput [(ngModel)]="artist" required>
        <mat-error *ngIf="!artist">Artist name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Project Title</mat-label>
        <input matInput [(ngModel)]="projectTitle" required>
        <mat-error *ngIf="!projectTitle">Project title is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Label</mat-label>
        <input matInput [(ngModel)]="label" required>
        <mat-error *ngIf="!label">A label is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Album Type</mat-label>
        <input matInput [(ngModel)]="albumType" required>
        <mat-error *ngIf="!albumType">An album type is required</mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [disabled]="!formValid()" (click)="onAddProject()">Add Project</button>
</div>
